.header {
  height: 70px;
  display: flex;
  align-items: center;
  background-color: #2c2c2c;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__logo {
  width: 140px;
  object-fit: contain;
  margin: 0 20px;
  margin-bottom: 2px;
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}

.header__searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
  border-radius: 10px 0px 0px 10px;
}

.header__searchIcon {
  padding: 5px;
  height: 22px !important;
  background-color: #a19ff2;
  border-radius: 0px 10px 10px 0px;
}

.header__optionLog {
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  padding-left: 1rem;
}

.header__optionSign {
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #a19ff2;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}
