.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  height: 56px;
  padding-top: 10px;
}

.header__nav {
  display: flex;
  height: 100%;
  align-items: center;
}

.header__logo {
  height: 100%;
  object-fit: contain;
  margin: 20px;
  width: 180px;
  margin-top: 3px;
}

.header__nav__options {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.spacer {
  flex: 1;
}

.log {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 41px;
  color: black;
  padding-left: 25px;
  padding-right: 25px;
}

.sign {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 41px;
  color: #1ecfba;
  padding-left: 50px;
  padding-right: 50px;
}
